/* Barra de Navegação */
.navbar {
    width: 100%;
    background-color: #333;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo do Logotipo */
.logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logo i {
    margin-right: 0.5rem;
}

/* Estilo dos links na barra de navegação */
.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #0077b5;
}
